.contenedor{
    border: 1px solid red;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-content: stretch; */
    align-items: center;
    height: 300px;
    flex-flow: row-reverse;
    /* gap: 10px; */
}

.item{
    border: 1px solid red;
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
